### INSTALLING THE PYTHON MODULE FOR TWITTER SCRAPING(SNSCRAPE)

In [2]:
!pip install snscrape

Requirement already satisfied: snscrape in c:\users\dell\anaconda3\lib\site-packages (0.4.3.20220106)
Requirement already satisfied: lxml in c:\users\dell\anaconda3\lib\site-packages (from snscrape) (4.6.3)
Requirement already satisfied: requests[socks] in c:\users\dell\anaconda3\lib\site-packages (from snscrape) (2.26.0)
Requirement already satisfied: filelock in c:\users\dell\anaconda3\lib\site-packages (from snscrape) (3.3.1)
Requirement already satisfied: beautifulsoup4 in c:\users\dell\anaconda3\lib\site-packages (from snscrape) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\dell\anaconda3\lib\site-packages (from beautifulsoup4->snscrape) (2.2.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests[socks]->snscrape) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests[socks]->snscrape) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests[socks]->snscrape) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from requests[socks]->snscrape) (2.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from requests[socks]->snscrape) (1.7.1)

### IMPORTING THE NECESSARY LIBRARIES TO CARRYOUT THIS TASK

In [4]:
import pandas as pd
import snscrape.modules.twitter as sntwitter

#### COLLECTION OF THE TWEET HASHTAG OR USERNAME,DATE PERIOD,NUMBER OF DATA,DESIRED COLUMNS AND SAVING THE SCRAPED DATA AS A .CSV_FILE

In [5]:
query = "(#gistlovers) until:2022-09-04 since:2022-09-03"
tweets = []
limit = 100


for tweet in sntwitter.TwitterHashtagScraper(query).get_items():
    
    if len(tweets) == limit:
        break
    else:
        tweets.append([tweet.date, tweet.url, tweet.user.username, tweet.sourceLabel, tweet.user.location, tweet.content, tweet.likeCount, tweet.retweetCount,  tweet.quoteCount, tweet.replyCount])
        
df = pd.DataFrame(tweets, columns=['Date', 'TweetURL','User', 'Source', 'Location', 'Tweet', 'Likes_Count','Retweet_Count', 'Quote_Count', 'Reply_Count'])

df.to_csv('gistlovers.csv')

### OBSERVE THE TWEET SCRAPED RESULT WITH PANDAS DATA_FRAME

In [6]:
df.head()

,Date,TweetURL,User,Source,Location,Tweet,Likes_Count,Retweet_Count,Quote_Count,Reply_Count
0,2022-09-03 23:41:00+00:00,https://twitter.com/7GossipVilla/status/156620...,7GossipVilla,Twitter for Android,"Lagos, Nigeria",Gistlover wants to shut everything down ooo.\n...,3,0,0,0
1,2022-09-03 23:04:21+00:00,https://twitter.com/HenryIzick/status/15662004...,HenryIzick,Twitter Web App,"Kaduna, Nigeria","What would you attempt to do in life, if the p...",1,1,0,1
2,2022-09-03 22:59:39+00:00,https://twitter.com/Duruanyanwu_b/status/15661...,Duruanyanwu_b,Twitter Web App,"Lagos, Nigeria",Gistlover has posted the continuation \nWho el...,2,0,0,0
3,2022-09-03 22:59:31+00:00,https://twitter.com/Awixy2/status/156619923879...,Awixy2,Twitter for Android,Nigeria,Which one of them is dumber?ðŸ¤­ðŸ¤£ðŸ˜„\n\n#TheRingsOf...,0,0,0,1
4,2022-09-03 22:57:11+00:00,https://twitter.com/lawmantv_/status/156619865...,lawmantv_,Twitter for iPhone,Nigeria,"Continuation, @ndlea_nigeria should please ans...",1,3,0,1

### TWEET DESCRIPTION USING PANDAS DATA_FRAME

In [7]:
df.describe()

       Likes_Count  Retweet_Count  Quote_Count  Reply_Count
count    100.00000     100.000000   100.000000   100.000000
mean      18.22000       3.940000     0.160000     1.350000
std      103.46654      13.629158     0.706678     3.929621
min        0.00000       0.000000     0.000000     0.000000
25%        1.00000       0.000000     0.000000     0.000000
50%        2.50000       0.000000     0.000000     0.000000
75%        6.00000       2.000000     0.000000     1.000000
max     1028.00000     100.000000     5.000000    33.000000